* {
  box-sizing: border-box;
}
html {
  background-color: #300018;
  position: relative;
}
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background: inherit;
}
html,
body,
.canvas {
  height: 100%;
}
.canvas {
  z-index: 5;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: inherit;
  position: relative;
}
.content {
  margin: 1rem auto;
  width: 90%;
  padding: 1rem;
  background-color: #fcfbe3;
  border-radius: 2px;
  box-shadow: 1px 0 0 rgba(45,36,41,0.05);
  color: #300018;
  position: relative;
  border: 10px solid rgba(48,0,24,0.2);
  border-radius: 10px;
}
@media screen and (min-width: 1058px) {
  .content {
    width: 60%;
  }
}
.content a {
  text-decoration: none;
  color: #2d2429;
  border-radius: 2px;
  max-height: 100%;
}
header {
  border-bottom: 1px solid #300018;
  margin-bottom: 1rem;
}
header h1 {
  position: relative;
}
header h1 a {
  position: absolute;
  right: 0;
}
.links a {
  margin-right: 1px;
  margin-bottom: 4px;
  padding: 0.5rem;
  display: inline-block;
  background: rgba(252,251,227,0.3);
  box-shadow: 0px 1px 0 rgba(45,36,41,0.4);
}
@media screen and (min-width: 1058px) {
  .links a {
    padding: 0.1rem 0.2rem;
  }
}
.links a:hover {
  background: rgba(45,36,41,0.1);
}
